blinker==1.9.0
click==8.2.1
colorama==0.4.6
comtypes==1.4.11
distlib==0.4.0
et-xmlfile==1.1.0
filelock==3.18.0
Flask==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
openpyxl==3.1.5
platformdirs==4.3.8
psutil==7.0.0
pyjokes==0.8.3
pypiwin32==223
pyttsx3==2.98
pywin32==310
virtualenv==20.32.0
Werkzeug==3.1.3
